.profile {
    width: 410px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 70px;
    height: 100vh;
}

.profile__elems {
    display: flex;
    flex-direction: column;
}

.profile__input {
    border: none;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    height: 40px;
    width: 80%;
    outline: none;
    text-align: right;
}

.profile__input:focus {
    border-bottom: 1px solid black;
}

.profile__input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
}
  
.profile__input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}
  
.profile__input::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}


.profile__input-description {
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
    width: 20%;
}

.profile__elem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile__divider {
    height: 1px;
    width: 100%;
    background-color: #E8E8E8;

}

.profile__elem:last-child {
    border-bottom: none;
}

.profile__title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 123px;
    margin-top: 0;
}

.profile__button {
    height: 16px;
    width: 100%;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    border: none;
    background: transparent;
    margin-bottom: 20px;
    cursor: pointer;
}

.profile__button:hover {
    opacity: 0.6;
}

.profile__button-edit {
    margin-top: 40vh;
}

.profile__button-exit {
    color: #FF4062;

}


@media screen and (max-width: 768px) {
    .profile {
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }
    .profile__title {
        margin-bottom: 96px;
    }
    .profile__button-edit {
        margin-top: 200px;
    }
  }
  
  @media screen and (max-width: 425px) {
    .profile {
        justify-content: normal;
        width: 100vw;
        padding: 0 30px;
        box-sizing: border-box;
        padding-top: 90px;
        padding-bottom: 20px;
    }
    .profile__title {
        margin-bottom: 70px;
    }
    .profile__button {
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        margin-bottom: 16px;
    }
    .profile__button-edit {
        margin-top: 45vh;
    }
  }