.Heading {
    width: 100%;
}

.Heading__title {
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    margin: 0;
    margin-bottom: 23px;
}

.Heading__line {
    height: 1px;
    background-color: black;
}

@media screen and (max-width: 425px) {
    .Heading__title {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 28px;      
    }
}