.promo {
  width: 100%;
  /* max-width: 1140px; */
  background-color: #073042;
  margin: 0 auto;
  padding: 46px 0 42px;
  position: relative;
  height: 664px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .promo {
      margin: 0 19px;
      width: auto;
  }
}

@media screen and (max-width: 425px) {
  .promo {
      padding: 28px 0 27px;
      margin: 0;
  }
}