/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./components/App/App.css);

@import url(./components/Header/Header.css);
@import url(./components/Header/__login/Header__login.css);
@import url(./components/Header/__logo/Header__logo.css);
@import url(./components/Header/__link/Header__link.css);

@import url(./components/Main/Promo/Promo.css);
@import url(./components/Main/Promo/Promo__background/Promo__background.css);
@import url(./components/Main/Promo/Promo__header/Promo__header.css);

@import url(./components/Main/NavTab/NavTab.css);
@import url(./components/Main/NavTab/__link/NavTab__link.css);





/* @import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__login/header__login.css);
@import url(./blocks/header/__link/header__link.css); */